# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
pip-wheel-metadata/
develop-eggs/
sdist/
dist/
build/
eggs/
parts/
var/
wheels/
*.egg
MANIFEST

# Virtual environment
venv/
ENV/
env/
.venv/
.env
.Python

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo
*~

# OS-specific
.DS_Store
Thumbs.db
